<h3>TERMS AND CONDITIONS</h3>

<h4>One Sentence Summary</h4>
<p>We take no responsibility for anything, so use the site at your own risk.</p>
<h4>Data Security</h4>
<p>Although we endeavour to keep your user data secure, please help us by choosing a sensible password.  Do not use the same password as for your email account.</p>

<h4>Data Loss</h4>
<p>We take no responsibility for any damage caused through loss of data stored with us.  That said, we take precautions to avoid this.</p>

<h4>Data Privacy</h4>
<p>Depersonalised data may be shared with third parties.  Usernames and email addresses will not be shared.</p>
