{% extends "text_base.html" %}

{% block posttitle %}
{% if may_edit %}
	<a id="edit_link" href="{% url edit_text text_id=text.id %}">Edit</a>
{% if not text.public %}
	<a id="edit_link" href="{% url publish_text text_id=text.id %}">Publish</a>
{% else %}
	<a id="edit_link" href="{% url unpublish_text text_id=text.id %}">Make Private</a>
{% endif %}
	<a id="edit_link" href="{% url delete_text text_id=text.id %}">Delete</a>
{% endif %}
	<a id="edit_link" href="{% url entrance %}">Select Another Text</a>
{% endblock %}

{% block postbody %}

  <script type="text/javascript">
	save_url = "{% url save_text text.id %}";
	static_url = "{{STATIC_URL}}";
	no_image_url = "{{no_image_url}}"
	data = {{json|safe}}
	var at;
	$(document).ready(function() {
	    Annotext.ready();
	    at = new Annotext(data);
	    at.pages[0].view_screen.show();
	});
  </script>

{% endblock %}
